<!-- footer for all the pages -->
        <footer class="container border-top custom-margin-top">
            <nav class="navbar bottom navbar-dark" style="background-color:transparent;">
                <p>&copy; Copyright 2022. All Rights Reserved.</p>
            </nav>
        </footer>

        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>