<div class="container">
    
    <div class="row custom-padding">
        <h1><%= title %></h1>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/web_design01.jpg" alt="Camel Mountain Climbing Association">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-journal-bookmark-fill"></i> Web Development</h5>
                  <p class="card-text">
                    Provide high-quality web development services. Prototype, design, build and launch digital experiences for all devices (mobile and desktop) and aspect ratios.
                    </p>
                    <ul>
                        <li>Web-design</li>
                        <li>CMS website development</li>
                        <li>Responsive websites</li>
                        <li>E-commerce websites</li>
                        <li>UI/UX design</li>
                    </ul>
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/software02.jpg" alt="Camel Mountain Climbing Association">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-journal-bookmark-fill"></i> Software Design</h5>
                  <p class="card-text">Software system design and analysis. Provide customers with full-cycle development from idea to product launching, support and continuous delivery. Adapt to your business processes, project management standards, environment or bring best practices.
                    </p>
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/mobile_dev.jpg" alt="Camel Mountain Climbing Association">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-journal-bookmark-fill"></i> Mobile Application</h5>
                  <p class="card-text">
                    Android app development on Kotlin or Java – the app language supported by Google. 
                    </p>
                    <ul>
                        <li>Android App Development</li>
                        <li>iOS App Development</li>
                    </ul>
                    
                </div>
            </div>
        </div>

    </div>
    
</div>