<!--
  Student Number : 301181514
  Student Name: Yi-Cheng Kuo
  Assignment : 1
  Date: 2022-09-22
-->
<!-- main content of about me page-->
<div class="container">
    <div class="row custom-padding">
        <div class="col">
            <h1><%= title %></h1>
            <p class="about_me">
                Hello, I'm Yi-cheng Kuo. You can call me, <span class="welcome">Jerry</span><br/>
                I am currenctly studying Software Engineering Technology - <br/>
                <span class="text_blue">Artificial Intelligence</span> at Centennial College.
            </p>
            <p class="about_me">
                Around 10+ years of experience as a Software Developer with rich experience designing, developing, testing, and maintaining Android and iOS applications in the health, education and IoT industry, and years on Web applications for Business Process Management.
            </p>
            <p>You can connect with me <br/>
                E-mail: <a href="mailto:narikuo@gmail.com" target="_blank">narikuo@gmail.com</a> 
            </p>
            <div>
                <a class="btn btn-primary" target="_blank" href="assets/resume_yicheng_kuo.pdf" >
                    <span class="bi-file-earmark-person"></span> Resume</a>
                <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/yi-cheng-kuo/" >
                    <span class="bi-linkedin"></span> Linkedin</a>
                
            </div>
        </div>
        <div class="col">   
            <img src="/images/personal_photo.jpg" class="rounded img-fluid" alt="Travel in Toronto City" >
        </div>
        
        
    </div>
</div>