<div class="container">
    <h1><%= title %></h1>
    <div class="row">
        <div class="column">
          <form >
            <li>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your first name..">
            </li>
            <li>
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </li>
            <li><label for="email">Email ID</label>
                <input type="text" id="email" name="email" placeholder="Your email id.."></li>
            <li><label for="phnumber">Contact Number</label>
                <input type="text" id="phnumber" name="phnumber" placeholder="Your contact number.."></li>
            <li>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <a href="/"> 
            </li>
            <li>
                <input type="button" value = "Submit" > </a>
            </li>
               
          </form>
        </div>
    </div>
        
</div>