<!-- footer for all the pages -->

        <footer class="container border-top">
            <nav class="navbar bottom navbar-dark" style="background-color:transparent;">
                <p>&copy; Copyright 2022. All Rights Reserved.</p>
            </nav>
        </footer>
    </body>
</html>