<div class="container">
    <div class="row">
        <div class="col-5">
            <p>Welcome to my Portfolio</p>
            <p>
                I am Yi-Cheng Kuo, you can call me Jerry...
            </p>
        </div>
        <div class="col-5">
            <p>Image 01</p>
            <img src="/images/personal_photo01.JPG" class="rounded float-start card-img-top" alt="Travel in Toronto City">
        </div>
        
    </div>
    
</div>