<!-- main content of home page-->
<div class="container">
    <div class="row custom-padding">
        <div class="col">   
            <img src="/images/socialmedia.jpg" class="rounded img-fluid" alt="Travel in Toronto City" >
        </div>
        <div class="col">
            <p class="welcome">Welcome ~</p>
            <p class="mission">
                Hi, My name is Yi-cheng Kuo.<br/>
                A <span class="text_blue">Software Developer</span> with extensive experience in mobile application development.<br/>
                <span class="text_blue"> Your best fit for Software Development Solutions.</span>
            </p>
            <div>
                <button type="button" class="btn btn-primary" onclick="window.location.href='about-me';">About Me</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/yi-cheng-kuo/';">Linkedin</button>
            </div>
        </div>
        
    </div>
</div>