<div class="container">
    <h1><%= title %></h1>
    <div class="row">
        <div class="col">
            <p>Project 1</p>
        </div>
        <div class="col">
            <p>Project 2</p>
        </div>
        <div class="col">
            <p>Project 3</p>
        </div>
    </div>
    
</div>