<div class="container custom-padding">
    <h1><%= title %></h1>
    <div class="row">
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_01.png" alt="Camel Mountain Climbing Association">
                <div class="card-body">
                  <h5 class="card-title">Camel Mountain Climbing Association</h5>
                  <p class="card-text">The official website of Camel Mountain Climbing Association provides event information, announcements, and interaction for members. By building and maintaining a high-quality, stable, and user-friendly website, that promotes connecting strongly with members from different cities.
                    </p>
                  <a href="http://www.alltek.com/content-data/" target="_blank" class="btn btn-primary">Go the website</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_02.png" alt="Alltek IoT Platform">
                <div class="card-body">
                  <h5 class="card-title">Alltek IoT Platform</h5>
                  <p class="card-text">The website is for the introduction and display of the Alltek Corporation’s Internet of Things development platform. Responsible for the design and development of the website (WordPress) to provide customers with a quality technology showcase platform.
                </p>
                <p>Wordpress</p>
                  <a href="http://www.alltek.com/content-data/" target="_blank" class="btn btn-primary">Go the website</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_03.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Intelligent Care Treatment System</h5>
                  <p class="card-text">The platform is for the healthcare center to record daily route for patients. Responsible for the design and development of the Application based on Android devices to provide caregivers record patients' daily activities.
                </p>
                <p>Android Development</p>
                  <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>

        </div>
    </div>
    
</div>