<!-- main content of projects page-->
<div class="container">
    
    <div class="row custom-padding">
      <h1><%= title %></h1>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_01.png" alt="Camel Mountain Climbing Association">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Camel Mountain Climbing Association</h5>
                  <p class="card-text">The official website of Camel Mountain Climbing Association provides event information, announcements, and interaction for members. By building and maintaining a high-quality, stable, and user-friendly website, that promotes connecting strongly with members from different cities.
                  </p>
                  <ul>
                    <li>CMS website development</li>
                    <li>Wordpress</li>
                    <li>Responsive websites</li>
                    <li>UX / UI design</li>
                  </ul>
                  <a href="http://camelclub.dwins.net.tw/tw/" target="_blank" class="btn btn-primary">Go the website</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_02.png" alt="Alltek IoT Platform">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Alltek IoT Platform</h5>
                  <p class="card-text">The website is for the introduction and display of the Alltek Corporation’s Internet of Things development platform. Responsible for the design and development of the website (WordPress) to provide customers with a quality technology showcase platform.
                </p>
                <ul>
                  <li>Wordpress</li>
                  <li>CMS website development</li>
                  <li>Responsive websites</li>
                </ul>
                
                  <a href="http://www.alltek.com/content-data/" target="_blank" class="btn btn-primary">Go the website</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_03.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Intelligent Care Treatment System</h5>
                  <p class="card-text">The platform is for the healthcare center to record daily route for patients. Responsible for the design and development of the Application based on Android devices to provide caregivers record patients' daily activities.
                </p>
                <ul>
                  <li>Android Application Development</li>
                  <li>Mobile devices</li>
                  <li>Kotlin</li>
                  <li>HTTP API - Retrofit</li>
                </ul>
                  <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>

        </div>
        

      </div>
    </div>

    <div class="row custom-padding">
      <div class="col">
        <div class="card" >
            <img class="card-img-top" src="/images/namasteai_pic.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> NamasteAI App - Virtual Yoga Coach</h5>
              <p class="card-text">The project is called Namasté AI, and it is an AI-driven Yoga Virtual Coach Application.
                This App is an innovative Android application that enhances yoga practice with AI and computer vision technology, serving as a virtual coach. It offers personalized feedback on yoga poses from users' videos.
                <br/>
                Our team has been awarded the Dean's Trophy at the 2024 Technology Fair at Centennial College. Our project stood out for its innovation and practical impact on artificial intelligence.
            </p>
            <ul>
              <li>Android Application Development</li>
              <li>Mobile devices</li>
              <li>Kotlin</li>
              <li>Jetpack compose</li>
            </ul>
              <a href="https://www.acadiate.com/ee/SETAS/IT_Projects3?view=std&showcase=618468235" class="btn btn-primary" target="_blank">See more</a>
            </div>
      </div>

      
      
      

      

    </div>
    
</div>