<!--
  Student Number : 301181514
  Student Name: Yi-Cheng Kuo
  Assignment : 1
  Date: 2022-09-22
-->
<!-- importing header and main navigation -->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- main content of contact me page-->
<div class="container">
    <div class="row custom-padding">
        <h1><%= title %></h1>
        <div class="row">
            <div class="col">
                <p class="fs-5">
                    Please get in touch with me if you have any question or need service. 
                </p>
                
                <ul>
                    <li style="list-style-type: none;"><i class="bi-person"></i> Yi- Cheng Kuo ( Jerry )</li>
                    <li style="list-style-type: none;"><i class="bi-envelope"></i> <a href="mailto:narikuo@gmail.com" target="_blank" >narikuo@gmail.com</a></li>
                    
                    <li style="list-style-type: none;"><i class="bi-geo-alt"></i> Scarborough, Toronto</li>
                </ul>
                
                <hr/>
                <form action="/contact-me" method="post">
                    <h4>Message</h4>
                    <div class="mb-3">
                        <label for="yourNameInput" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="yourNameInput" name="yourNameInput">
                    </div>
                    <div class="mb-3">
                        <label for="yourMailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="yourMailInput" name="yourMailInput" placeholder="name@example.com">
                    </div>
                    
                    <div class="mb-3">
                        <label for="yourPhoneInput" class="form-label">Contact Phone</label>
                        <input type="text" class="form-control" id="yourPhoneInput" name="yourPhoneInput">
                    </div>
                    <div class="mb-3">
                        <label for="messageTextarea" class="form-label">Message</label>
                        <textarea class="form-control" id="messageTextarea" name="messageTextarea" rows="3"></textarea>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3 btn-lg">Send to me</button>
                    </div>
                </form>
            </div>
            <div class="col">   
                <img src="/images/toronto_city.jpg" class="rounded img-fluid" alt="Travel in Toronto City" >
                <div style="font: 0.9em sans-serif; margin-top: 4px;"><a href="https://www.instagram.com/jerrykuotw/" target="_blank">Photographer: Jerry Kuo</a></div>
            </div>
        </div>
        
    </div>
</div>

<!-- importing footer -->
<%- include partials/footer.ejs %>