<!-- importing header and main navigation -->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- main content of contact me page-->
<div class="container">
    <div class="row custom-padding">
        <h1><%= title %> - Edit</h1>
        <br />
    </div>
</div>

<!-- importing footer -->
<%- include ../partials/footer.ejs %>